[submodule "vim.symlink/bundle/base16-vim"]
	path = vim.symlink/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "vim.symlink/bundle/command-t"]
	path = vim.symlink/bundle/command-t
	url = https://github.com/wincent/command-t.git
[submodule "vim.symlink/bundle/ack.vim"]
	path = vim.symlink/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim.symlink/bundle/editorconfig-vim"]
	path = vim.symlink/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim.symlink/bundle/auto-pairs"]
	path = vim.symlink/bundle/auto-pairs
	url = git@github.com:jiangmiao/auto-pairs.git
[submodule "vim.symlink/bundle/vim-elixir"]
	path = vim.symlink/bundle/vim-elixir
	url = git@github.com:elixir-lang/vim-elixir.git
[submodule "vim.symlink/bundle/alchemist.vim"]
	path = vim.symlink/bundle/alchemist.vim
	url = git@github.com:slashmili/alchemist.vim.git
[submodule "vim.symlink/bundle/vim-jsx"]
	path = vim.symlink/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "vim.symlink/bundle/ultisnips"]
	path = vim.symlink/bundle/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "vim.symlink/bundle/vim-snippets"]
	path = vim.symlink/bundle/vim-snippets
	url = git@github.com:honza/vim-snippets.git
[submodule "vim.symlink/bundle/vim-react-snippets"]
	path = vim.symlink/bundle/vim-react-snippets
	url = git@github.com:justinj/vim-react-snippets.git
[submodule "vim.symlink/bundle/vim-polyglot"]
	path = vim.symlink/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "vim.symlink/bundle/pytest.vim"]
	path = vim.symlink/bundle/pytest.vim
	url = https://github.com/alfredodeza/pytest.vim.git
[submodule "vim.symlink/bundle/vim-vue"]
	path = vim.symlink/bundle/vim-vue
	url = https://github.com/posva/vim-vue.git
[submodule "vim.symlink/bundle/ember.vim"]
	path = vim.symlink/bundle/ember.vim
	url = https://github.com/dsawardekar/ember.vim
